/*{
    margin: 0;
    padding: 0;
}

#canvas{
    background: #dfe2e5;
}

#lienzo{
    position: relative;
    width: 1000px;
    height: 500px;
    margin-top: 5vh;
    margin-left: 50vh;
    margin-bottom: 5vh;
    margin-right: 5vh;
}

#buttons{
    display: block;
    position:center;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    margin-right: 50vh;
}

/*Que muestre la imagen al estar la pantalla horizontal*/
/*@media all and (orientation: portrait){
    #cont{
        display: none;
    }

    #horizontal{
        display: block;
        position: fixed;
        width:100%;
        height: 100vh;
        z-index: 1;
        background: url("../img/horizontal.jpg");
        background-size: cover;
        background-position: center;
    }
}
*/


*{
    margin: 0;
    padding: 0;
}

#canvas{
    background: #dfe2e5;
}

#cont{
    position: relative;
    width: 1000px;
    height: 500px;
    margin-top: 5vh;
    margin-left: 50vh;
    margin-bottom: 5vh;
    margin-right: 5vh;
}

/*Boton*/
#cont button{
    display: block;
    position:center;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    margin-right: 50vh;
}

#horizontal{
    display: none;
}

/*Que muestre la imagen al estar la pantalla horizontal*/
@media all and (orientation: portrait){
    #cont{
        display: none;
    }

    #horizontal{
        display: block;
        position: fixed;
        width:100%;
        height: 100vh;
        z-index: 1;
        background: url("../img/horizontal.jpg");
        background-size: cover;
        background-position: center;
    }
}